<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li><a href="/bookings/my">My bookings</a></li>
    <li>ABC ground</li>
    <li>Cafe</li>
</body>
</html>