<form  action="/api/auth/admin" method="POST">
  <div class="form-group mb-3">
    
    <h1>Admin Login</h1>

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      required
      value="<%= typeof email !== 'undefined' ? email : '' %>"
    />
  </div>

  <div class="form-group mb-3">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      required
    />
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
